/*Color Reference*/

.white{
	color: white;
}
/*===============*/

/*Background Color for Body & Nav*/
nav
{
	background-color: rgba(0,0,0,0.5);
}
.backgroundBlack
{
  background-color: black;
}
/*===============*/

/*Font-Family*/

.ffRegular{
font-family: 'Josefin Slab', serif;
}
/*===============*/

.background-color
{
	background-color: black;
}
.overVid
{
	height: 20%;
  position: absolute;
  margin: auto;
  top: 35%;
  left: 0;
  right: 0;
}
