/*Color Reference Fuzio-Website*/

.white
{
	color: white;
}

.gray
{
  color: #9C8D84;
}

.lightGreen
{
  color: #2C6924;
}
.darkGreen
{
  color: #2E4332;
}
.brown
{
  color: #361B18;
}
.beige
{
  color: #693F24;
}
/*===============*/

/*Background Color for Body & Nav*/
nav
{
	background-color: rgba(0,0,0,0.5);
}
.backgroundBlack
{
  background-color: black;
}
.backgroundBeige
{
  background-color: #693F24;
}
/*Font Family*/

.ffRegular
{
  font-family: 'Josefin Slab', serif;
}
.ffBold
{
  font-family: 'Josefin Slab', serif; 
  
}
/*================*/

.background-color
{
	background-color: black;
}
.overVid
{
	height: 20%;
  position: absolute;
  margin: auto;
  top: 35%;
  left: 0;
  right: 0;
}

/*Images Properties*/

.imageCover
{
  background-size: cover;
}
.paddingTop
{
  margin-top: 20%;
}

